.cursor {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: currentColor;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 4px;
}

.cursor-blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.chat-mkdwn-wrapper table,
.chat-mkdwn-wrapper th,
.chat-mkdwn-wrapper td {
  border: 1px solid;
  border-collapse: collapse;
  /* Replace with your desired border color */
  border-color: currentColor;
}

.chat-mkdwn-wrapper table {
  margin-top: 8px;
  margin-bottom: 8px;
}

.chat-mkdwn-wrapper th,
.chat-mkdwn-wrapper td {
  padding: 5px;
}

.chat-mkdwn-wrapper p {
  margin-bottom: 5px;
}
